
<head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

{% block title %}{% endblock %}</title>

{% block stylesheets %}{% endblock %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <a href="/accueil" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/Filiale">La Filiaire</a></li>
                <li><a href="/Work">Les Travaux</a></li>
                <li><a href="/acteur">Les Acteurs</a></li>
                <li><a href="/entity_advert">L'actu</a></li>
                <li><a href="/contact">Contacts</a></li>
                <div class="chip white">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {#{{ app.user.username }}#}
                    {##}
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}</li>
                </div>
            </ul>
        </div>
    </nav>
</div>
<form id="form1" class="card">
    <h1>Nous contacter</h1>
    <div>
            {{ form_label(form.Nom, 'Votre Nom', {
            'label_attr': {'class': 'input_1'}
            }) }}
            {{ form_widget(form.Nom) }}
            {{ form_errors(form.Nom) }}

        </div>
        <div>
            {{ form_label(form.Nom, 'Votre Prénom', {
                'label_attr': {'class': 'input_1'}
            }) }}
            {{ form_widget(form.Prenom) }}
            {{ form_errors(form.Prenom) }}

        </div>
        <div>
            {{ form_label(form.Nom, 'Votre Organisation', {
                'label_attr': {'class': 'input_1'}
            }) }}
        {{ form_widget(form.Organisation) }}
        {{ form_errors(form.Organisation) }}

        </div>
        <div>
            {{ form_label(form.Nom, 'Votre Email', {
                'label_attr': {'class': 'input_1'}
            }) }}
        {{ form_widget(form.Email) }}
        {{ form_errors(form.Email) }}

        </div>
        <div>
            {{ form_label(form.Nom, 'Sujet', {
                'label_attr': {'class': 'input_1'}
            }) }}
            {{ form_widget(form.Sujet) }}
            {{ form_errors(form.Sujet) }}

        </div>
        <div>
            {{ form_label(form.Nom, 'Message', {
                'label_attr': {'class': 'input_1'}
            }) }}
            {{ form_widget(form.Message) }}
            {{ form_errors(form.Message) }}

        </div>
    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>
    <div>
        <input id="submit" class="btn-large " type="submit" value="Envoyer">
    </div>

    {{ form_end(form) }}
    </div>

</form>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>


















